body {
    background-color: var(--secondary);
}

hr {
    height: 1px;
    background-color: #cccccc55;
    border: none;
    margin: 0;
}

h2 {
    font-size: 19px;
    margin: 0.5rem;
    margin-left: 3rem;
    color: var(--primary-text);
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 14px;
    transition: 200ms;
}

h2:first-child {
    margin-top: 2.9rem;
}

.item-list {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    gap: 1.6rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.item-card {
    margin: 0;
    background-color: var(--card);
    min-width: 17rem;
    transition: 200ms;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--primary);
}

.item-card:hover {
    box-shadow: none;
}

.item-title {
    margin: 0;
    color: var(--primary-text);
}

.item-card .top {
    margin: 0;
    padding: 0.25rem;
    background-color: var(--primary);
    border: 0.5px solid var(--primary);
}

.item-name {
    margin: 0;
    padding-left: 0.25rem;
    color: var(--primary-text);
}

.item-description {
    margin: 0;
    padding-left: 0.25rem;
    color: var(--secondary-text);
}

.rbutton {
    border: none;
    background-color: var(--add-btn);
    color: var(--btn-idl);
    min-width: 17rem;
}

.rbutton:hover {
    background-color: var(--btn-hvr);
    color: var(--primary-text);
}

.rbutton:active {
    background-color: var(--btn-clk);
}
