body {
    background-color: var(--secondary);
}

.buildguides {
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;
}

.buildguides:last-child {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    font-weight: 100;
    padding-left: 15rem;
    padding-right: 15rem;
}

h2,
h3 {
    margin-top: 0;
    color: var(--primary-text);
}

h2,
h3,
h4,
h5 {
    transition: 200ms;
}

h4 {
    margin-top: 0;
    color: var(--primary-text);
}

h5 {
    color: var(--secondary-text);
}

.builds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    gap: 1.6rem;
    margin-bottom: 1rem;
}

.guidebuild {
    background-color: var(--card);
    border: 5px solid var(--card);
    min-width: 15rem;
    padding: 1rem;
    transition: 200ms;
}

.guidebuild:hover {
    cursor:pointer;
    filter: brightness(85%);
}

.guidebuild.selected {
    border: 5px solid var(--btn-idl);
}
