.navbar {
    overflow: auto;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: 500ms;
}

.navbar w {
    color: var(--warning);
}

.navbar a {
    font-weight: bold;
    float: left;
    display: block;
    color: var(--primary-text);
    text-align: center;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: 500ms;
}

.navbar .right {
    float: right;
    font-size: 0.5rem;
    padding: 0.9rem;
    margin: auto;
}

.navbar .right:hover {
    color: var(--warning);
    text-decoration: underline;
}

.navbar .left:first-child {
    margin-left: 2rem;
}

.navbar .left:first-child:hover {
    background: #00000000;
}

.navbar .left:hover {
    background: var(--secondary);
}