@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --primary-text: #FFF;
    --tertiary-text: #ffe683;

    --success: #00c851;
    --warning: #ffbb33;
    --error: #ff3547;
    --info: #33b5e5;

    --card: #19573e;
    --add-btn: #fff;

    --primary: #194936;
    --secondary: #1e6649;
    --tertiary: #b18c5a;
    --btn-idl: #2c87c3;
    --btn-hvr: #1e5c85;
    --btn-clk: #153f5b;
    --secondary-text: #000;
}

.darkmode {
    --card: #1a4333;
    --add-btn: #ddd;

    --primary: #162e25;
    --secondary: #1f4f3c;
    --tertiary: #634629;
    --btn-idl: #2b86de;
    --btn-hvr: #195fa3;
    --btn-clk: #134677;
    --secondary-text: #FFF;
}

html {
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
    padding: none;
}

body {
    margin: 0;
    transition: 200ms;
}

main {
    margin-top: 1rem;
    gap: 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1rem;
    margin: 0.75rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(83, 83, 83);
    -webkit-transition: 400ms;
    transition: 400ms;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    left: 0.2rem;
    bottom: 0.1rem;
    background-color: var(--primary-text);
    -webkit-transition: 400ms;
    transition: 400ms;
}

input:checked+.slider {
    background-color: #2e2e2e;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.9rem);
    -ms-transform: translateX(1.9rem);
    transform: translateX(1.9rem);
}

.slider.round {
    border-radius: 1rem;
}

.slider.round:before {
    border-radius: 50%;
}

.button {
    font-weight: bold;
    color: var(--primary-text);
    background-color: var(--btn-idl);
    border: 0.1rem solid var(--btn-idl);
    border-radius: 0.2rem;
    padding: 0.5rem;
    transition: 200ms;
}

.button:hover {
    border: 0.1rem solid var(--btn-hvr);
    background-color: var(--btn-hvr);
}

.button:active {
    border: 0.1rem solid var(--btn-idl);
    background-color: var(--btn-clk);
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.success {
    color: var(--success);
}

.warning {
    color: var(--warning);
}

.error {
    color: var(--error);
}